.search-field {
  margin: 0 auto;
}

.content {
  display: flex;
  height: 600px;
}

.video-history {
  height: 600px;
  width: 300px;
  background-color: rebeccapurple;
}

.video-player {
  flex-grow: 1;
}
